<form accept-charset="UTF-8"
      action="https://formkeep.com/f/2c303ce0dc5a"
      method="POST">
  <input type="hidden" name="utf8" value="✓">

  <div class="c-form-field">
    <label class="c-form-field__label"
           for="email_address">
      Email Address
    </label>
    <input class="c-form-field__input"
           id="email_address"
           type="email"
           name="email"
           required>
  </div>

  <div class="c-form-field">
    <label class="c-form-field__label"
           for="first_name">
      First Name
    </label>
    <input class="c-form-field__input"
           id="first_name"
           type="text"
           name="first_name"
           required>
  </div>

  <div class="c-form-field">
    <label class="c-form-field__label"
           for="last_name">
      Last Name (Optional)
    </label>
    <input class="c-form-field__input"
           id="last_name"
           type="text"
           name="last_name">
  </div>

  <button class="c-button"
          type="submit">
    Sign Up
  </button>
</form>
