<header class="c-site-header" role="banner">
  <div class="p-site-container">
    <a class="u-line-height-zero" href="/">
      <%= svg("accesslint-logo") %>
    </a>

    <div class="c-site-header__nav">
      <%= current_link_to "Blog", "/blog/" %>
      <%= link_to "Help", data.site.help_url %>
      <%= link_to "Log in", data.site.github_log_in_url %>
    </div>
  </div>
</header>
