<header class="c-site-header" role="banner">
  <div class="p-site-container">
    <a class="u-line-height-zero" href="/">
      <%= svg("accesslint-logo") %>
    </a>

    <%= current_link_to "Blog", "/blog/" %>
  </div>
</header>
