.c-site-header {
  @include padding(1.5rem null);
  border-bottom: $base-border;
  margin-bottom: $base-spacing * 2;

  a {
    font-weight: 600;
  }
}

.c-site-header__title {
  margin: 0;
}

.c-site-header__nav {
  a {
    margin-left: $base-spacing;
  }
}

.c-site-header .p-site-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
