.c-site-header {
  @include padding($base-spacing null);
  border-bottom: $base-border;
  margin-bottom: $base-spacing * 2;
}

.c-site-header__title {
  margin: 0;
}

.c-site-header .p-site-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
