<section>
  <h1>Product Changes</h1>

  <h2>
    <a id="statuses-change-requests">Statuses and Review Change Requests</a>
  </h2>

  <p>September 2, 2017</p>

  <p>When you've installed the GitHub App, the next time you open a Pull Request
  you'll notice a new status badge for AccessLint. That's our way of telling you
  what AccessLint is up to.</p>

  <p>GitHub supports failure statuses that you can configure to block delivery
  of code. We don't do that. AccessLint will only show you pending and success
  statuses, even if you've introduced an issue. We're following a Code Review
  model instead of a failing build model, so that you have more flexibility
  while still being accountable.</p>

  <p>To that end, we've changed the Review from "Comment" to "Request Changes".
  We hope this drives it home that you really should fix the issue, but we won't
  go so far as to block delivery.</p>

  <p>You still have the option to block merges when AccessLint comments. You can
  set this up using GitHub's
  <%= link_to "Required Reviews", "https://help.github.com/articles/merging-a-pull-request/#required-reviews" %> feature.</p>
</section>

<hr>

<section>
  <p>If you're not using AccessLint yet,
  <%= link_to( "add it to GitHub", data.site.github_app_url) %>
  and give it a try!</p>
</section>
