<section>
  <h1>
    AccessLint is for keeping accessibility issues in check.
  </h1>

  <p>
    AccessLint brings automated and continuous web accessibility testing into
    your development workflow, helping you spot issues before features go
    to production. When a pull request is opened, AccessLint reviews the changes
    and comments with any <em>new</em> violations.
  </p>
</section>

<%= link_to(
  "Connect with GitHub",
  "https://github.com/apps/accesslint",
  class: "c-button"
) %>

<hr>

<h2>AccessLint checks</h2>
<ul>
  <li>
    <code>img</code> elements have alternative text.
  </li>
  <li>
    <code>input</code> tags have associated labels.
  </li>
</ul>

<h2>Supported languages</h2>
<ul>
  <li>ERB</li>
  <li>Haml</li>
  <li>HTML</li>
</ul>

<hr>
