<section>
  <h1>
    Automated and continuous web accessibility&nbsp;testing
  </h1>

  <p>
    AccessLint is a GitHub App that finds accessibility issues in your
    pull&nbsp;requests.
  </p>

  <%= link_to(
    "Add to GitHub",
    data.site.github_app_url,
    class: "c-button"
  ) %>
</section>

<hr>

<section>
  <h2>How it works</h2>

  <p>
    AccessLint is super easy to install, and there's no setup. Pick which
    projects you want reviewed, and AccessLint kicks into action. The next time
    you open a Pull Request, AccessLint reviews it for issues and adds comments
    to the code.
  </p>

  <h2>AccessLint checks</h2>

  <ul>
    <li>
      <code>img</code> elements have alternative text.
    </li>
    <li>
      <code>input</code> tags have associated labels.
    </li>
  </ul>

  <h2>Supported languages</h2>

  <ul>
    <li>ERB</li>
    <li>Haml</li>
    <li>HTML</li>
  </ul>
</section>
