<section>
  <h2>AccessLint fits right into your GitHub flow</h2>
</section>

<section>
  <h2>Support your team and customers</h2>

  <h3>We check for…</h3>

  <ul>
    <li>
      <p><code>img</code> elements have alternative text.</p>
      <p>read more on why this matters →</p>
    </li>
    <li>
      <p><code>input</code> element have associated labels.</p>
      <p>read more on why this matters →</p>
    </li>
  </ul>
</section>

<section>
  <h2>Supported templating languages</h2>

  <ul>
    <li>HTML</li>
    <li>ERB</li>
    <li>Haml</li>
  </ul>
</section>

<section>
  <h2>Pricing</h2>

  <%= link_to(
    "Add to GitHub",
    github_app_url,
    class: "c-button"
  ) %>
</section>
